/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

# ignore everything in builds except standalone
builds/*
!builds/uberjar
builds/uberjar/*
!builds/uberjar/scale-complexes-*-standalone.jar